
body {
    font-family: sans-serif, Verdana, Arial;
    font-size: 12px;
    background: url("../img/background.png") fixed repeat-x;
    width: 80%;
    margin: auto;
}

#header {
    border-bottom: solid 2px #FFFFFF;
    background: url("../img/logo.png") left no-repeat;
    height: 60px;
    margin: 8px;
    padding-top: 36px;
    padding-bottom: 20px;
    color: black;
    cursor:pointer;
}

#header h1 {
    /*	font-family: Verdana, Arial;*/
    font-size: 34px;
    padding: 0;
    margin: 0;
    margin-left: 192px;
}

#menu {
    width: 208px;
    float: left;
}

#menu h2 {
    text-align: center;
}

#menu ul {
    padding: 0;
    list-style: none;
}

#menu li {
/*    margin: 4px;*/
    text-align: center;
    height: 28px;
    width: 200px;
}

#menu li > a {
    display: block;
    padding: 10px;
    font-size: 12px;
}

#menu hr {
     width: 25px;
     margin-top:20px;
     color:#AAF;
}

#menu li:hover {
    /*	background-color:pink;/*#A0C0F0;*/
    background-image: url("../img/menu_over.png");
}

#corps {
    margin-top: 50px;
    margin-left: 212px;
}

#footer {
    clear: both;
    margin-top: 32px;
    text-align: center;
}

#footer img {
    
}

a:link, a:visited {
    color: blue;
    text-decoration: none;
}

a img {
    border: none;
}

#description{
    float:left;
}


/* Special ALPHA
#blockAlpha{
    float:right;
}

#GetViTEAlpha {
    text-align: center;
    margin-bottom: 50px;
}

#changementHeaderAlpha{
 background-image: url("../img/unstable_header.png");
 width:            290px;
 height:           58px;
 margin-left:      auto;
 margin-right:     auto;
}

#changementBodyAlpha{
 background-image:  url("../img/unstable_body.png");
 background-repeat: no-repeat;
 width:             290px;
 height:            540px;
 margin-left:       auto;
 margin-right:      auto;   
}

#changementBodyAlpha .text{
 text-align:        justify;
 padding-left:      20px;
 padding-right:     20px;
}

#changementFooterAlpha{
 background-image: url("../img/unstable_footer.png");
 width:            290px;
 height:           42px;
 margin-left:      auto;
 margin-right:     auto;
}
End special ALPHA */



#blockCurrent{
    float:left;
}

#GetViTE {
    text-align: center;
    margin-bottom: 50px;
}

#currentHeader{
 background-image: url("../img/stable_header.png");
 width:            290px;
 height:           63px;
 margin-left:      auto;
 margin-right:     auto;
}

#currentBody{
 background-image:  url("../img/stable_body.png");
 background-repeat: no-repeat;
 width:             290px;
 height:            295px;
 margin-left:       auto;
 margin-right:      auto;   
}

#currentBody .text{
 text-align:        justify;
 padding-left:      20px;
 padding-right:     20px;
}

#currentFooter{
 background-image: url("../img/stable_footer.png");
 width:            290px;
 height:           42px;
 margin-left:      auto;
 margin-right:     auto;
}

/* Feature styles */
#intro {
    margin: 82px;
    text-indent: 2em;
    font-size: 1.5em;
    font-style: italic;
    font-weight: bold;
    color: #000080;
    text-align: justify;
}

#Features dl {
    margin: 0 64px;
}

#Features dt {
    margin-top: 24px;
    color: #7777EE;
    font-size: 3em;
    z-index: 0;
    font-weight: bold;
    opacity: 0.4;
}

#Features dd {
    margin-top: -1.5em;
    text-align: justify;
    font-weight: bold;
    z-index: 1;
}

#Features dd:first-letter {
    font-size: 1.5em;
}


/* Developer styles */

#Developers {
    list-style-image: url("../img/puce.png"); 
}

#Developers li a:hover {
    font-size:1.2em;
    cursor:pointer;
}


#Downloads {
    margin: auto;
    width: 90%;
    border-collapse: collapse; 
}

#Downloads tr.dl_entry:hover {
    background-color:#EEEEFF;
}

#Downloads tr.dl_category {
    margin-top: 12px;
}

#Downloads tr.dl_category td {
    padding-top: 22px;
    text-align: left;
    font-weight: bold;
}

#Downloads td.dl_file {
    padding-left: 40px;
}

#Downloads td.dl {
    text-align: left;
}

#Screenshots {
    width: 100%;
}

#Screenshots td {
    text-align: center;
    vertical-align: middle;
    padding: 8px;
}


/* Overview styles */

#overview hr{
    margin-top    : 50px;
    margin-bottom : 50px;
    margin-left   : auto;
    margin-right  : auto;
    width         : 150px;
}

#overview div#picture{
    text-align: center;
}

#overview div.bloc{
    font-style    : italic;
    margin-left   : 40px;
    margin-top    : 20px;
    margin-bottom : 20px;
}

/* Roadmap styles */
.changelog_version {
    list-style: none;
}

.changelog_item {

}


/* Documentation styles */

#documentation p{
    text-indent : 2em;
    margin-bottom: 20px;
}

#documentation p.abstract{
    margin-bottom:50px;
}

#documentation p a{
    margin-left:100px;

}
